/*==========================
  RESET DEFAULT
==========================*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-transform: none;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* wireframe */ }

a:visited {
  color: unset; }

a {
  display: block; }

/*=========================
   COLORS PALLET
=========================*/
html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  height: 100%; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  top: 0; }
  .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%; }
  .navbar__link, .navbar__link--active {
    padding: 15px 5px 15px 5px;
    width: 85px;
    text-align: center; }
    .navbar__link:hover, .navbar__link--active:hover {
      background: #222; }
    .navbar__link--active {
      background: #1441a0 !important; }
      .navbar__link--active:before {
        position: absolute;
        bottom: -0.9em;
        margin: 0 1em 0 1em;
        content: '';
        border: 7px solid transparent;
        border-top: 7px solid #1441a0; }

.articles {
  margin: 70px 0 0 0; }
  .articles__article {
    text-align: justify;
    padding: 5px 10px 10px; }
    .articles__article h1 {
      margin: 0 0 10px; }
  .articles hr {
    margin: 10px 0 10px; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
  padding: 50px; }
