* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

.container {
  width: 980px;
  margin: auto 150px;
  display: grid; }

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 980px;
  background-color: black;
  color: white;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1; }
  .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center; }
  .navbar__link {
    color: white;
    padding-left: 25px;
    padding-right: 25px; }
    .navbar__link:hover {
      color: aqua; }

.artigos {
  position: relative;
  top: 60px;
  height: 580px;
  border: 1px solid #bbb;
  border-bottom: 0; }
  .artigos__artigo {
    padding-top: 10px;
    padding-left: 30px; }
    .artigos__artigo h1 {
      font-size: 1.2em;
      padding: 20px 0; }

.footer {
  display: flex;
  position: relative;
  top: 60px;
  justify-content: center;
  align-items: center;
  height: 80px;
  border: 1px solid #bbb;
  background-color: black;
  color: white; }
