

@mixin top-grid {
    position: relative;
    top: 60px;
}

@mixin centro {
    justify-content: center;
    align-items: center;
}

@mixin flex {
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: 1px solid red;
    font-family: Arial, Helvetica, sans-serif;
}


html, body {
    height: 100%;
}

.container {
    height: inherit;
}

.container, header, section, footer {
    width: 100%;
}

.navbar {

    @include flex;
    @include centro;
    width: inherit;
    background-color: black;
    color: white;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 1;
    


    ul {
        @include flex;
        @include centro;
    }

    &__link {

        color: white;
        padding: 0 25px 0 25px;

        &:hover {
            color: aqua;
        }
    }
}

.artigos {

    @include top-grid;
    border: 1px solid #bbb;
    border-bottom: 0;
    text-align: justify;

    &__artigo {

        padding: 10px 0 0 30px;

        h1 {
            font-size: 1.2em;
            padding: 10px 0;
        }
    }
}

.footer {
    @include flex;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    padding-top: 50px;
    /* padding-bottom: 100%; */
    position: relative;
    top: 60px;
    /* margin: 70px 0 0 0; */
    background-color: black;
    border: 1px solid black;
    color: white;
    // z-index: 1;
}