//==========================
//   RESET DEFAULT
//==========================
* {
    margin: 0;
    padding:  0;
    list-style: none;
    text-decoration: none;
    text-transform: none;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    /* wireframe */
    // border: 1pt solid red;
}
a:visited { color: unset;}
//==========================



@mixin flexbox-row {
    display: flex;
    flex-direction: row;
}

@mixin flexbox-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-content-center {
    justify-content: center;
}

@mixin flex-content-central {
    justify-content: center;
    align-items: center;
}

@mixin flex-content-around {
    justify-content: space-around;
    align-items: center;
}

@mixin flex-content-between {
    justify-content: space-between;
}

html {
    height: 100%;
}

body {
    @include flexbox-col;
    height: 100%;
}

.container {
    @include flexbox-col;
    @include flex-content-between;
    height: inherit;
}

.navbar {

    @include flexbox-row;
    @include flex-content-center;
    // height: 60px;
    padding: 15px;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;

    ul {
        @include flexbox-row;
        @include flex-content-around;
        width: 100%;
    }

    &__link {
        
        &:hover {
            color: aqua;
        }
    }
}

.artigos {
    
    margin: 70px 0 0 0;

    &__artigo {
        text-align: justify;
        padding: 5px 10px 10px;

        h1 {
            margin: 0 0 10px;
        }
    }
    
    hr {
        margin: 10px 0 10px;
    }
}

.footer {
    @include flexbox-row;
    @include flex-content-central;
    background-color: black;
    color: white;
    width: 100%;
    padding: 50px;
}
